@{
    ViewData["Title"] = "Página Home";
}

<div class="text-center">
    <h1 class="display-4">Bem-Vindo</h1>
    <p>Aprenda sobre  <a href="https://learn.microsoft.com/aspnet/core">construir aplicações Web com ASP.NET Core</a>.</p>
</div>
